<!DOCTYPE html>
<html>
<head>
  <title>EasyMarket</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top navbar-top-size">
   	<div class="navbar-inner">
   		<%= image_tag( 'logo.png', {class: "logo-easy-market"}) %>
   	</div> 
  </div>
  
  <%= yield %>


  <div class="navbar-default navbar-fixed-bottom navbar-bottom-size">
   	<div class="navbar-inner">
   		<h5 class="navbar-bottom-text"> Easy Market </h5>
   	</div> 
  </div>
</body>
</html>
